:root {
    --swiper-navigation-size: 44px;
}

:root {
    --swiper-theme-color: #007aff;
}
html {
    --antd-wave-shadow-color: #1890ff;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    margin: 0;
    font-family: "Roboto",sans-serif!important;
    height: 100%;
}
body {
    margin: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-variant: tabular-nums;
    line-height: 1.5;
    background-color: #fff;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum","tnum";
}

::selection {
    color: #fff;
    background: #1890ff;
}

#nav {
    background-color: #f4f4f4;
    min-height: 60px;
}

#logo {
    max-width: 50%;
    max-height: auto;
    object-fit: contain;
}

.scoresheet-module {
    border: 1px solid #c6c4c6;
    background-color: #fff;
    min-height: 100px;
    display: flex;
    margin-bottom: 24px;
    padding-bottom: 24px;
    flex-direction: column;
}

.scoresheet-module__name {
    background-color: #231f20;
    color: #fff;
    width: 110px;
    text-align: center;
    align-self: start;
    padding: 6px 0;
    text-transform: uppercase;
}

.scoresheet-module__content {
    width: 100%;
    padding-right: 44px;
}

.heading--charcoal {
    color: #333;
}

.h-2, .h-2--normal {
    font-size: 30px;
    line-height: 38px;
}

.h-2 {
    font-weight: 500;
}

.scoresheet-module__fields-wrapper {
    margin-top: 12px;
}

.scoresheet-module__field {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 0 0;
    flex-direction: column;
}

.paragraph--large, .paragraph--xlarge {
    font-family: "Roboto",sans-serif;
    font-size: 1.6rem;
}

.paragraph--large {
    line-height: 22px;
}
.paragraph--charcoal, .paragraph--darkGray {
    color: #333;
}
.paragraph--400, .paragraph--normal {
    font-weight: 400;
}

.ant-form {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum","tnum";
}

.ant-form-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum","tnum";
    margin: 0 0 24px;
    vertical-align: top;
}

.form .ant-form-item {
    margin-bottom: 8px!important;
}

.ant-row {
    position: relative;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    zoom: 1;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ant-col {
    position: relative;
    min-height: 1px;
}

.ant-form-item-control {
    position: relative;
    line-height: 40px;
    zoom: 1;
}

.ant-form-item-children {
    position: relative;
}

form {
    display: block;
    margin-top: 0em;
}

li {
    text-align: -webkit-match-parent;
}

.c-container--default {
    padding-left: 20px;
    padding-right: 20px;
}

.match-scoresheet-form__radio-wrapper {
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
}
.ant-radio-group {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum","tnum";
    display: inline-block;
}

.match-scoresheet-form__radio-wrapper .ant-radio-button-wrapper:first-child, .match-scoresheet-form__radio-wrapper .ant-radio-button-wrapper:last-child {
    border-radius: 0;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: #fff;
    background: #1890ff;
    border-color: #1890ff;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
    border-color: #1890ff;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.match-scoresheet-form__radio-wrapper .ant-radio-button-wrapper-checked {
    color: #fff;
    background: #0066b3!important;
    border-color: #0066b3!important;
}
.match-scoresheet-form__radio-wrapper .ant-radio-button-wrapper {
    padding: 10px 20px!important;
    min-height: 40px!important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    z-index: 1;
    color: #1890ff;
    background: #fff;
    border-color: #1890ff;
    -webkit-box-shadow: -1px 0 0 0 #1890ff;
    box-shadow: -1px 0 0 0 #1890ff;
}
.ant-radio-button-wrapper:first-child {
    border-left: 1px solid #d9d9d9;
    border-radius: 4px 0 0 4px;
}
.ant-form-item label {
    position: relative;
}
.ant-form label {
    font-size: 14px;
}
.match-scoresheet-form__radio-btn {
    line-height: 20px!important;
    color: #333;
    white-space: nowrap;
    font-size: 1.6rem!important;
    margin-bottom: 12px;
    padding: 10px 30px!important;
}
.ant-radio-button-wrapper {
    position: relative;
    display: inline-block;
    height: 32px;
    margin: 0;
    padding: 0 15px;
    color: rgba(0,0,0,.65);
    line-height: 30px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1.02px solid #d9d9d9;
    border-left: 0;
    cursor: pointer;
    -webkit-transition: color .3s,background .3s,border-color .3s;
    transition: color .3s,background .3s,border-color .3s;
}
[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.ant-radio-button-wrapper>.ant-radio-button {
    display: block;
    width: 0;
    height: 0;
    margin-left: 0;
}
