.spot{
    width: 4vh;
    height: 4vh;
    /* outline-style: solid; */
    outline-width: 4px;
    opacity: 100;
    
}
.row{
    flex-wrap: nowrap;
    padding: 10px 0;
}

.brown {
    background-color: rgb(196, 196, 196);
}

.red {
    background-color: #d7040d;
}

.white {
    background-color: #0e7d91;
}

.black {
    background-color: #ffffff;
}

.yellow {
    background-color: #fece00;
}

.blue {
    background-color: #0061ae;
}

.green {
    background-color: #10a138;
}

.cable{
    background-color: #06daff;
}

.rndBtn {
    width: 30%;
    height: 50px;
    margin-top: 6vh;
    font-weight: 800;
    font-style: bold;
}

.one{
    width: 4vh;
    height: 4vh;
    margin: 10px;
    background-image:url(img/1.png);
    background-size: cover;
}
.two{
    width: 4vh;
    height: 4vh;
    margin: 10px;
    background-image:url(img/2.png);
    background-size: cover;
}
.three{
    width: 4vh;
    height: 4vh;
    margin: 10px;
    background-image:url(img/3.png);
    background-size: cover;
}
.four{
    width: 4vh;
    height: 4vh;
    margin: 10px;
    background-image:url(img/4.png);
    background-size: cover;
}
